<a href="https://colab.research.google.com/github/isys5002-itp/ISYS5002-2024-S2/blob/main/01_1_My_First_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This is my first Python Notebook

**This is a text cell**

In [ ]:
# this is a code cell

In [ ]:
1 + 1 # this is an expression

2

In [ ]:
print("Hello Rohini")
print('HelloRohini')

Hello Rohini
HelloRohini

In [ ]:
1 + 2
1 + 3

4

In [ ]:
print(1 + 1)  # computing two numeric values
print(1+3)
print('1 + 4')
print("1 + 5") # display string items
print('1' + '1') # string concatenation
print('i' + 'i') # putting together two string values/items

2
4
1 + 4
1 + 5
11
ii

In [ ]:
print (1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print (1, '2') # concatenating string and numeric values

1 2

In [ ]:
print("The number is ", 2) # use comma to concatenate a string and numeric value

The number is  2

In [ ]:
input("Please enter your name: ")

Please enter your name: Mickey

'Mickey'

In [ ]:
# take input from user
# store the value provided by the user into a variable (store) named 'UserName'

UserName = input("Please enter your name: ")

Please enter your name: Daisy

In [ ]:
UserName # call the variable (store) UserName

'Daisy'

In [ ]:
# concatenating the string message with the value held in store(varible) named UserName
print("Welcome to ISYS5002, ", UserName)

Welcome to ISYS5002,  Daisy

## You try

Write a print statement to display the following messages:

`Welcome to ISYS5002 Daisy!`

`Hello Daisy! Welcome to Python Programming.`

Optional:
To stay ahead for next week, you can try examples from Gaddis Chapter 2